<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>
	<session-factory>
		
		<!-- 		配置hibernate信息  -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 使用映射文件 -->
<!-- 		<mapping resource="com/entity/User.hbm.xml"/> -->
		<!-- 使用注解 -->
		<mapping class="com.entity.User"/>
		<mapping class="com.entity.Admin"/>
		<mapping class="com.entity.Furniture"/>
		<mapping class="com.entity.Shopcart"/>
		<!-- <mapping class="com.entity.ShopCartDetail"/> -->
		<mapping class="com.entity.FOrder"/>
		<mapping class="com.entity.OrderDetail"/>
		<mapping class="com.entity.Furniture_count"/>
	</session-factory>
</hibernate-configuration>